#### Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans: 
A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations of data records or files that contain information, such as sales transactions, customer data, financials and product information.

Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized collection of information.

SQL stands for ‘Structured Query Language’. It is the most common programming language used for executing queries, and handling data by using CRUD (create, read, update and delete) operation on a Relational Database Management System (RDMS) like MySQL, PostgreSQL, etc.

NoSQL stands for ‘Not-Only SQL’. These types of databases are Non-Relational or non-tabular. A No-SQL database does not require a specific schema and hence is schema-less, and all the entries/documents are JSON documents. Examples − MongoDB, DynamoDB, Redis, etc.


| Key | SQL | NoSQL |
| --- | --- | --- |
| Type | SQL databases are classified as Relational databases, i.e., RDBMS. | NoSQL databases are known as non-relational or distributed database. |
| Language | SQL databases use standard Structured Query Languages, as the name suggests. SQL is an industry-standard and very powerful language to execute complex queries. | NoSQL database has dynamic schema for unstructured data. The data stored in a NoSQL database is not structured.Data could be stored as document-oriented, column oriented, graph-based or organized as a Key-Value store. The syntax can vary from database to database. |
| Scalability | SQL databases can extend their capacity on a single server by increasing their RAM, CPU or SSD. SQL databases are scalable vertically, as their storage could be increased for the same server by enhancing their storage components. | In order to increase the capacity of a NoSQL database, you would have to install new servers parallel to the parent server. NoSQL databases are horizontally scalable which means they can easily handle more traffic by adding new servers to the database, which makes them a great choice for large and constantly changing databases. |
| Schema | SQL databases have a fixed, pre-defined schema, which makes the data storage more rigid, static, and restrictive. | NoSQL databases don’t have a pre-defined schema, which makes them schema-less and more flexible. |
| Internal implementation | SQL follows ACID (Atomicity, Consistency, Isolation and Durability) properties for its operations. | NoSQL is based on CAP (Consistency, Availability, and Partition Tolerance). |
| Data Storage | SQL databases can only be run on a single system and because of this, they don’t follow the distribution of data and hence they don’t support hierarchical storage of data. | NoSQL Databases can run on multiple systems, and hence, they support data distribution features like data repetition, partition, etc., making them the best option for hierarchical storage of data. |
| Type of Data | SQL databases are table-based databases which makes them better for multi-row transaction applications. | NoSQL is document-based, key-value pair, and graph databases, which makes them better when there are a lot of changes in the data. |
| Performance and suitability | SQL databases are best suited for complex queries but are not preferred for hierarchical large data storage. | NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries but are best suited for hierarchical large data storage. |
| Examples | SQL databases are implemented in both open source and commercial databases such as like Postgres & MySQL as open source and Oracle and Sqlite as commercial. | NoSQL is purely open source. Some of its famous implementation are MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, and CouchDB. |

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans: DDL stands for Data Definition Language. As the name suggests, the DDL commands help to define the structure of the databases or schema. When we execute DDL statements, it takes effect immediately. The changes made in the database using this command are saved permanently because its commands are auto-committed. The following commands come under DDL language:

* CREATE: It is used to create a new database and its objects such as table, views, function, stored procedure, triggers, etc.

In [ ]:
example:
CREATE TABLE employee (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

* DROP: It is used to delete the database and its objects, including structures, from the server permanently.\
Example:\
Drop table employee;

* ALTER: It's used to update the database structure by modifying the characteristics of an existing attribute or adding new attributes.\
example:\
ALTER TABLE employee ADD COLUMN age INT;

* TRUNCATE: It is used to completely remove all data from a table, including their structure and space allocates on the server.
RENAME: This command renames the content in the database.
Example:\
TRUNCATE TABLE employee;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans: It stands for Data Manipulation Language. The DML commands deal with the manipulation of existing records of a database. It is responsible for all changes that occur in the database. The changes made in the database using this command can't save permanently because its commands are not auto-committed. Therefore, changes can be rollback.

The following commands come under DML language:
* SELECT: This command is used to extract information from a table.\
Example:\
SELECT name, email FROM employee WHERE age > 30;

* INSERT: It is a SQL query that allows us to add data into a table's row.\
Example:\
INSERT INTO employee (name, email, age) VALUES ('DAVE', 'dave@example.com', 35);

* UPDATE: This command is used to alter or modify the contents of a table.\
Example:\
UPDATE employee SET email = 'dave@gmail.com' WHERE name = 'DAVE';

* DELETE: This command is used to delete records from a database table, either individually or in groups.\
Example:\
DELETE FROM employee WHERE name = 'DAVE';

#### Q4. What is DQL? Explain SELECT with an example.
Ans: DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query the database and retrieve specific data based on specified criteria. The most commonly used DQL statement is SELECT.

* SELECT is used to retrieve data from one or more tables in a database. It allows you to specify the columns to retrieve, the table or tables to retrieve them from, and any conditions that the retrieved data must meet. Here's an example of a SELECT statement:\
Example:\
SELECT name, email FROM employee WHERE age > 25;

#### Q5. Explain Primary Key and Foreign Key.
Ans: 
##### primary key
The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

In [ ]:
Example:
CREATE TABLE students (
    students_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    age INT
);

##### foreign key
The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.

In [ ]:
Example:
CREATE TABLE students (
    students_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    age INT,
    course_id
    FOREIGN KEY (course_id) REFERENCES course(ID)
);

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:
    For connecting to MySQL server we need mysql.connector python Library. We can install it using pip, like this:\
        ----->pip install mysql-connector-python

In [ ]:
# python code to connect MYSQL.
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)


sql = "SELECT * FROM employee"

mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In this code, we first import the mysql.connector module and use the connect() method to establish a connection to the MySQL database. We need to provide the database connection details, such as the host, username, password, and database name.

After establishing the connection, we create a cursor object using the cursor() method of the database connection object. The cursor object allows us to execute SQL statements on the database.

* The execute() method is used to execute an SQL statement on the database using the cursor object. It takes an SQL statement as its parameter and returns the result of the statement, if any. 

* The fetchall() method is used to fetch all the rows returned by the SELECT statement. It returns a list of tuples, where each tuple represents a row in the result set. You can then loop through the result set and print each row, as shown in the code above.

* In summary, the cursor() method is used to create a cursor object, which allows you to execute SQL statements on the database. The execute() method is used to execute an SQL statement on the database using the cursor object, and the fetchall() method is used to retrieve the results of the SQL statement.

#### Q7. Give the order of execution of SQL clauses in an SQL query.
Ans:
The order of execution of SQL clauses in an SQL query can be summarized as follows:

* FROM clause: The FROM clause specifies the table or tables from which the data will be retrieved. If multiple tables are used, they may be joined using the JOIN clause.

* WHERE clause: The WHERE clause filters the data based on a specified condition or set of conditions. It is used to retrieve only the rows that meet the specified criteria.

* GROUP BY clause: The GROUP BY clause is used to group the result set by one or more columns. It is often used in conjunction with aggregate functions, such as COUNT, SUM, AVG, etc.

* HAVING clause: The HAVING clause is used to filter the result set based on a specified condition or set of conditions. It is similar to the WHERE clause, but it is applied after the data has been grouped by the GROUP BY clause.

* SELECT clause: The SELECT clause specifies the columns that will be included in the result set. It can also be used to apply functions or expressions to the data, such as CONCAT, DATE_FORMAT, etc.

* ORDER BY clause: The ORDER BY clause is used to sort the result set based on one or more columns. It can sort the data in ascending or descending order.

* LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query. It is often used in conjunction with the ORDER BY clause to retrieve the top N rows based on a specified criteria.